@using ChatbotApi.Application.Chatbots.Queries.GetFlexMessageQuery
@using ChatbotApi.Application.Chatbots.Queries.GetChatbotByIdQuery
@model PaginatedList<FlexMessageViewModel, FlexMessageMetadata>
@inject ILocalizerService L
@{
    ViewData["Title"] = "รายการ Flex Message";
    var info = (ViewData["Info"] as ChatbotSingleViewModel)!;
}

<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3 text-white">
            <i class="border-radius-lg shadow-sm material-icons">search</i> @ViewData["Title"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="accordion accordion-flush mb-3" id="searchHeader">
        <div class="accordion-item">
            <h2 class="accordion-header bg-white rounded-4" id="flush-headingOne">
                <button class="accordion-button showing" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="d-flex align-items-center w-100">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-zoom-split-in opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="ms-3">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">เครื่องมือ</p>
                            <h5 class="font-weight-bolder mb-0">
                                การค้นหา
                            </h5>
                        </div>
                        <div class="ms-auto">
                            <i class="fa-solid fa-angles-down accordion-icon-collapse"></i>
                            <i class="fa-solid fa-angles-up accordion-icon-expand"></i>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse show mt-2" aria-labelledby="flush-headingOne"
                 data-bs-parent="#searchHeader">
                <div class="card px-1">
                    <form id="searchForm">
                        <input type="hidden" name="Id" value="@info.Id"/>
                        <input type="hidden" name="PageSize" value="@Model.PageSize"/>
                        <input type="hidden" name="Page" value="1"/>
                        <div class="row gx-2">
                            <partial name="InputViewSelect"
                                     model="@("Type", PropertyHelper<FlexMessageMetadata>.GetDisplayName(m => m.Type, L), Model.Metadata?.Type.MethodSelectList(), "ทุกช่องทาง", string.Empty)"/>

                            <partial name="InputViewText"
                                     model="@("Key", PropertyHelper<FlexMessageMetadata>.GetDisplayName(m => m.Key, L), Model.Metadata?.Key)"/>

                            <div class="col-md-4 col-sm-12">
                                <label class="invisible">button</label>
                                <input type="button" class="btn bg-gradient-secondary form-control" value="ล้างเงื่อนไข"
                                       onclick="restoreSearch()"/>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="invisible">button</label>
                                <input type="button" class="btn bg-gradient-primary form-control" value="ค้นหา"
                                       onclick="updateSearch()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" id="contentBody">
    <div class="col-12">

        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex gx-2">
                    <i class="material-icons pb-2">person</i>
                    <h6>
                        @ViewData["Title"]
                    </h6>

                    <a asp-controller="Chatbots" asp-action="AddFlexMessage" asp-route-chatbotId="@info.Id"
                       class="btn btn-sm bg-gradient-info ms-auto me-2 mt-2">
                        <i class="material-icons">person_add</i> เพิ่มความข้อความ
                    </a>
                    <a asp-action="Index" class="btn btn-sm bg-gradient-primary mt-2">
                        <i class="material-icons">arrow_back</i> ย้อนกลับ
                    </a>
                </div>
            </div>
            <div class="card-body m-0" id="body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr role="row">
                            <th>
                                @(PropertyHelper<FlexMessageViewModel>.GetDisplayName(m => m.Type, L))
                            </th>
                            <th>
                                @(PropertyHelper<FlexMessageViewModel>.GetDisplayName(m => m.Key, L))
                            </th>
                            <th>
                                @(PropertyHelper<FlexMessageViewModel>.GetDisplayName(m => m.Order, L))
                            </th>
                            <th>
                                @(PropertyHelper<FlexMessageViewModel>.GetDisplayName(m => m.JsonValue, L))
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr role="row">
                                <td>
                                    @item.Type.ToInitCap()
                                </td>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    @item.Order
                                </td>
                                <td>
                                    @item.JsonValue.GetSubString(50)
                                </td>
                                <td>
                                    <a asp-controller="Chatbots" asp-action="EditFlexMessage" asp-route-Id="@item.Id"
                                       class="btn bg-gradient-primary">
                                        แก้ไข
                                    </a>
                                    <button type="button" class="btn bg-gradient-danger"
                                            onclick="confirmDelete('@item.Id','@(item.Key + "ลำดับที่" + item.Order)');">
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <partial name="Paging" model="@(Model.PageIndex, Model.TotalPages)"/>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/javascript/search.js" asp-append-version="true"></script>
    <script>
        initialize({
            deleteMessage: "ยีนยันต้องการลบ Flexx Message นี้ใช่หรือไม่",
            deleteUrl: "@Url.Action("DeleteFlexMessage", "Chatbots", new { Id = info.Id })",
            baseActionUrl: "@Url.Action("FlexMessage", "Chatbots")"
        });
    </script>
}