@using ChatbotApi.Application.View.Queries.GetTopMenuInfoQuery
@inject AppSetting AppSetting
@inject ISender Sender
@{
    var info = await Sender.Send(new GetTopMenuInfoQuery());
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>
        @ViewData["Title"] - @AppSetting.Organization
    </title>
    <partial name="_ArgonHeadSection"/>
    <style>
        .custom-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: url('@AppSetting.Wallpaper') no-repeat center center;
            background-size: cover;
            opacity: 0.5;
            z-index: -1;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-100">

<script>  
    function getOperatingSystem() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    
        // Check for iOS
        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return 'iOS';
        }
        // Check for Android
        else if (/android/i.test(userAgent)) {
            return 'Android';
        }
        // Default to 'unknown' if we can't determine
        return 'unknown';
    }
    function openInDefaultBrowser() {
        var userAgent = navigator.userAgent;
        var isFacebookIAB = userAgent.includes('FBAN') || userAgent.includes('FBAV');
        var isLineIAB = userAgent.includes('Line');

        if (isFacebookIAB || isLineIAB) {
            let os = getOperatingSystem();
            if (os === "Android") {
                window.location = "intent:" + window.location.href + "#Intent;end";
            }
        }
    }

    // Call the function when the page loads
    openInDefaultBrowser();
</script>

<div class="min-height-600 custom-background position-absolute w-100"></div>
<partial name="_ArgonSidebar"/>

<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl z-index-sticky " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
                <a href="javascript:;" class="nav-link p-0">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                    </div>
                </a>
            </div>

            <partial name="_ArgonTopRight" model="info"/>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid px-0 px-md-2 py-4" id="mainContainer">
        @RenderBody()

        <partial name="_ArgonFooter"/>
    </div>
</main>

@* <partial name="_ArgonFixedMenu"/> *@
<partial name="_ArgonBottomScript"/>

@(await RenderSectionAsync("Scripts", false))

</body>

</html>