@model ValueTuple<string, string, string?, int?, int?>
@{
    var propertyName = Model.Item1;
    var propertyText = Model.Item2;
    var value = Model.Item3;
    var minValue = Model.Item4;
    var maxValue = Model.Item5;
}

<div class="form-group">
    <label>@propertyText</label>
    <input type="number" class="form-control" name="@propertyName" id="@propertyName" value="@value" step="1"
           @if (minValue.HasValue) { <text>min="@minValue.Value"</text> }
           @if (maxValue.HasValue) { <text>max="@maxValue.Value"</text> }>
    @if (ViewData.ModelState[propertyName]?.Errors.Count > 0)
    {
        <span class="text-danger">
            @foreach (var error in ViewData.ModelState[propertyName]!.Errors)
            {
                @error.ErrorMessage
            }
        </span>
    }
</div>