@using ChatbotApi.Application.PlayLists.Queries.GetPlayListQuery
@model PaginatedList<PlayListViewModel, PlayListMetadata>
@inject ILocalizerService L
@inject ISystemService S
@inject ICurrentUserService C
@inject IAuthorizationService A
@inject IMediator Mediator
@{
    ViewData["Title"] = "รายการเพลง";
    var createSuccess = (bool?)ViewData["CreateSuccess"];
    var editSuccess = (bool?)ViewData["EditSuccess"];
    var deleteSuccess = (bool?)ViewData["DeleteSuccess"];
}

<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3 text-white">
            <i class="border-radius-lg shadow-sm material-icons">music_note</i> @ViewData["Title"]
        </h3>
    </div>
</div>

<div class="row">
    <div class="accordion accordion-flush mb-3" id="searchHeader">
        <div class="accordion-item">
            <h2 class="accordion-header bg-white rounded-4" id="flush-headingOne">
                <button class="accordion-button showing" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="d-flex align-items-center w-100">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-zoom-split-in opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="ms-3">
                            <p class="text-sm mb-0 text-uppercase font-weight-bold">เครื่องมือ</p>
                            <h5 class="font-weight-bolder mb-0">
                                การค้นหา
                            </h5>
                        </div>
                        <div class="ms-auto">
                            <i class="fa-solid fa-angles-down accordion-icon-collapse"></i>
                            <i class="fa-solid fa-angles-up accordion-icon-expand"></i>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse show mt-2" aria-labelledby="flush-headingOne"
                data-bs-parent="#searchHeader">
                <div class="card px-1">
                    <form id="searchForm">
                        <input type="hidden" name="PageSize" value="@Model.PageSize" />
                        <input type="hidden" name="Page" value="1" />
                        <div class="row gx-2">
                            <partial name="InputViewText" model="@("Id", "ID", Model.Metadata?.Id?.ToString())" />
                            <partial name="InputViewDate"
                                model="@("StartDate", PropertyHelper<PlayListMetadata>.GetDisplayName(m => m.StartDate, L), Model.Metadata?.StartDate)" />
                            <partial name="InputViewDate"
                                model="@("EndDate", PropertyHelper<PlayListMetadata>.GetDisplayName(m => m.EndDate, L), Model.Metadata?.EndDate)" />
                            <partial name="InputViewText"
                                model="@("SearchText", PropertyHelper<PlayListMetadata>.GetDisplayName(m => m.SearchText, L), Model.Metadata?.SearchText)" />

                            <div class="col-md-3 col-sm-12">
                                <label class="invisible">button</label>
                                <input type="button" class="btn bg-gradient-secondary form-control" value="ล้างเงื่อนไข"
                                    onclick="restoreSearch()" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="invisible">button</label>
                                <input type="button" class="btn bg-gradient-primary form-control" value="ค้นหา"
                                    onclick="updateSearch()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="contentBody">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex gx-2">
                    <i class="material-icons pb-2">music_note</i>
                    <h6>
                        @ViewData["Title"]
                    </h6>
                    <a asp-controller="PlayLists" asp-action="Create"
                        class="btn btn-sm bg-gradient-info ms-auto me-2 mt-2">
                        <i class="material-icons">add</i> เพิ่มเพลง
                    </a>
                </div>
            </div>
            <div class="card-body m-0" id="body">
                @if (createSuccess == true)
                {
                    <div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
                        เพิ่มเพลงสำเร็จ
                        <button type="button" class="ms-auto btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                }
                @if (editSuccess == true)
                {
                    <div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
                        แก้ไขเพลงสำเร็จ
                        <button type="button" class="ms-auto btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                }
                @if (deleteSuccess == true)
                {
                    <div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
                        ลบเพลงสำเร็จ
                        <button type="button" class="ms-auto btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                }

                <div class="table-responsive" style="min-height: 300px;">
                    <table class="table">
                        <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>@(PropertyHelper<PlayListViewModel>.GetDisplayName(m => m.MusicName, L))</th>
                                <th>@(PropertyHelper<PlayListViewModel>.GetDisplayName(m => m.AlbumName, L))</th>
                                <th>@(PropertyHelper<PlayListViewModel>.GetDisplayName(m => m.CreatedDate, L))</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr role="row">
                                    <td>@item.Id</td>
                                    <td>@item.MusicName</td>
                                    <td>@item.AlbumName</td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>
                                        <a asp-controller="PlayLists" asp-action="Details" asp-route-Id="@item.Id"
                                            class="btn btn-sm bg-gradient-info">
                                            <i class="material-icons">visibility</i> ดู
                                        </a>
                                        <a asp-controller="PlayLists" asp-action="Edit" asp-route-Id="@item.Id"
                                            class="btn btn-sm bg-gradient-warning">
                                            <i class="material-icons">edit</i> แก้ไข
                                        </a>
                                        <button type="button" class="btn btn-sm bg-gradient-danger"
                                            onclick="confirmDelete('@item.Id','@item.MusicName');">
                                            <i class="material-icons">delete</i> ลบ
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <partial name="Paging" model="@(Model.PageIndex, Model.TotalPages)" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/javascript/search.js" asp-append-version="true"></script>
    <script>
        initialize({
            deleteMessage: "ยืนยันต้องการลบเพลงออกใช่หรือไม่",
            deleteUrl: "@Url.Action("Delete", "PlayLists")",
            baseActionUrl: "@Url.Action("Index", "PlayLists")"
        });
    </script>
}